<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="87b046fb-904d-470a-9ce9-0dc78122dac5" name="Class Practice" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="87b046fb-904d-470a-9ce9-0dc78122dac5fileName">Class-Practice</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
