<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="caa19053-d685-461a-b7cf-dbb1537e2beb" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="caa19053-d685-461a-b7cf-dbb1537e2bebfileName">Regression-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
